= render partial: "shared/page_nav"
.register-page.container
  .row
    .page-heading.col-sm-12.text-center
      %h2 Apply for HackPoly 2015
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .row
      .col-sm-6.col-sm-offset-3
        = f.input :email, autofocus: true, label: "Email Address", placeholder: "yourname@yourschool.edu"
    .row
      .col-sm-6.col-sm-offset-3
        = f.input :password, as: :password, label: "Password"
    .row
      .col-sm-6.col-sm-offset-3
        = f.input :password_confirmation, as: :password, label: "Confirm Password"
    .row
      .col-sm-12.text-center
        = f.button :submit, "Apply", class: "btn btn-primary"
    %br/
    .row
      .col-sm-12.text-center
        %h4= link_to "Already have an account?", new_user_session_path
