%h2 Register for HackPoly
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.input :email, autofocus: true, label: "Email Address", placeholder: "yourname@yourschool.edu"
  .field
    = f.input :password, as: :password, label: "Password"
  .field
    = f.input :password_confirmation, as: :password, label: "Confirm Password"
  .actions
    = f.button :submit, "Register"
