.application-page.container
  .row
    .greeting.col-md-12.text-center
      %h1= "HELLO, #{@user.greeting.upcase}!"
  .row
    .app-status.col-md-12.text-center
      %h4
        - if current_user.admitted?
          = "Congratulations! Your application has been <span class='user-status'>#{current_user.status}</span> for Hackpoly 2015. Please check your email regularly for further instructions.".upcase
        - else
          = "Your application is currently <span class='user-status'>#{current_user.status}</span>. Please check back regularly for any updates to your application status.".html_safe
  .row
    .app-page-links.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12.text-center
      - if @user.admin?
        %ul.list-unstyled
          .hidden-xs.s10
          %li.text-uppercase
            = link_to "all users (#{User.count(:all)})", users_path, class: "btn btn-primary btn-block"
          .hidden-xs.s10
          %li.text-uppercase
            = link_to 'all mailchimp subscribers', user_subscribers_path, class: "btn btn-primary btn-block"
          %hr

      %ul.list-unstyled
        .hidden-xs.s10
        %li.text-uppercase
          = link_to 'edit my profile', user_profile_path, class: "btn btn-primary btn-block"
        .hidden-xs.s10
        %li.text-uppercase
          = link_to 'account settings', edit_user_registration_path, class: "btn btn-primary btn-block"
        .hidden-xs.s10
        %li.text-uppercase
          = link_to 'logout', destroy_user_session_path, method: :delete, class: "btn btn-primary btn-block"
