= simple_form_for(@user_info, url: update_user_profile_path, method: :put) do |f|
  = f.input :first_name, as: :string, label: "First name:"
  = f.input :last_name, as: :string, label: "Last name:"
  = f.input :university, collection: @universities, label: "University/ School:", placeholder: "University of [School Name]", input_html: { rel: 'autocomplete', data_default: @user.university, data_placeholder: "University of <School Name>" }
  = f.input :major, collection: @majors, label: "Major:", input_html: { rel: 'autocomplete', data_default: @user.major, data_placeholder: "Computer Science, Graphic Design, Marketing, etc" }
  = f.input :year_in_school, as: :select, collection: User.year_in_school_choices, label: "Grade level:", prompt: "-"
  = f.input :skillset, as: :select, collection: User.skillset_choices, label: "What would you consider yourself as?", prompt: "-"
  = f.input :website_url, as: :string, label: "Portfolio:", placeholder: "www.myportfolio.com"
  = f.input :github_url, as: :string, label: "Github:", placeholder: "github.com/username"
  = f.input :linkedin_url, as: :string, label: "LinkedIn:", placeholder: "www.linkedin.com/in/username"

  = f.input :previous_hackathons, label: "What previous hackathons have you been to?"

  = f.input :coolest_built, label: "Describe the coolest thing you've ever built or achieved. (Does not have to be related to hackathons, software, design, etc!)"

  = f.button :submit, "Update"
