this is your profile page
= current_user.email

= simple_form_for(@user_info, url: update_user_profile_path) do |f|
  = f.input :first_name, as: :string, label: "First name:"
  = f.input :last_name, as: :string, label: "Last name:"
  = f.input :major, as: :string, label: "Major:"

  = f.input :year_in_school, as: :select, collection: User.year_in_school_choices, label: "Year:"
  = f.input :skillset, as: :select, collection: User.skillset_choices, label: "What would you consider yourself?"

  = f.input :website_url, as: :string, label: "Portfolio:"
  = f.input :github_url, as: :string, label: "Github:"
  = f.input :linkedin_url, as: :string, label: "LinkedIn:"

  = f.input :coolest_built, label: "Describe the coolest thing you've ever built or created. (Does not have to relate to hackathons, software, design, etc!)"
