= render partial: "shared/page_nav"
.login-page.container
  .row
    .page-heading.col-sm-12.text-center
      %h2 Login
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .row
      .col-sm-6.col-sm-offset-3
        = f.input :email, autofocus: true, label: "Email Address", placeholder: "yourname@yourschool.edu"
    .row
      .col-sm-6.col-sm-offset-3
        = f.input :password, as: :password, label: "Password"
    .row
      .col-sm-12.text-center
        .actions
          = f.button :submit, "Login", class: "btn btn-primary"
    %br/
    .row
      .col-sm-12.text-center
        %h4= link_to "Forgot password?", new_user_password_path
