!!!
%html
  %head
    %title hackpoly | hack the future
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / External Stylesheets
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/lumen/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway:200,600|Oswald:400,700", :rel => "stylesheet", :type => "text/css"}/
    // Favicon
    %link{:href => "/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %meta{:content => "#2d89ef", :name => "msapplication-TileColor"}/

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top.animated-nav{:role => "navigation"}
      .container
        .row.no-margin
          .hidden-xs.col-sm-2.text-left.navmodule
            %a{:href => "http://facebook.com/hackpoly", target: "_blank"}
              %i.fb-link.fa.fa-facebook-square
            %a{:href => "http://twitter.com/hackpoly", target: "_blank"}
              %span.twitter-link.fa.fa-twitter-square
          .visible-xs-block.col-xs-2.text-left.navmodule
            %button#sidebar-toggle.btn{"data-toggle" => "offcanvas"}
              %i.fa.fa-bars
          .col-xs-8.col-sm-8.text-center
            .navbar-logo
              = link_to root_path do
                = image_tag 'hackpoly.png', alt: "cal poly pomona hackathon logo", id: "hpoly-logo"
          .hidden-xs.col-sm-2.text-right.navmodule
            - if user_signed_in?
              = link_to "Application", user_application_path, class: "btn btn-primary"
            - else
              = link_to "Apply", new_user_registration_path, class: "btn btn-primary"

    .app-container
      .container-bg.subtle
        .container-fluid
          - if !current_page?(root_path)
            = render partial: 'shared/page_nav'
          = yield
          - if !current_page?(root_path)
            %br/
            = render partial: "layouts/footer"
