!!!
%html
  %head
    %title Hackpoly
    %meta{name: 'viewport', content: 'width=devise-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container.header
      = link_to 'home', root_path
      |
      - if user_signed_in?
        - if current_user.admin?
          = link_to 'users', users_path
        = link_to 'application', user_application_path
        = link_to 'logout', destroy_user_session_path, method: :delete
      - else
        = link_to 'login', new_user_session_path
        = link_to 'register', new_user_registration_path

      .flash-messages-container
        = render partial: 'layouts/flash_messages'

      %br/
      .app-container
        .container-bg
        = yield
