!!!
%html
  %head
    %title Hackpoly
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'layouts/flash_messages'
    = link_to 'home', root_path
    = link_to 'application', user_application_path
    %br/
    = yield
